/* reset dos estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

/* estilo do corpo geral da pagina */
body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* container pai (todo conteudo no centro) */
.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; /*testar com start*/
    width: 60%; /* 60% do valor do body*/
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

/* container direito o sentido deve ser coluna */
.instagram-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 15rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

/* seletor que enumera os filhos do elemento*/
.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

/* vamos centralizar e cortar a foto do profile*/
.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden; /* esconde o que exceder do border radius*/
}

/* temos que ajustar o tamanho da imagem do profile */
.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095F6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095F6;
    margin-top: 1;
}

.not-acount {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095F6;
}